

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- mettre lien dans header -->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Consultation</ion-title>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <!-- <table *ngIf="returnedApiData">{{returnedApiData}}</table> -->

  <table id="customers">
    <thead>
      <tr>
        <th>Praticien</th>
        <th>Date compte-rendu</th>
        <th>Date visite</th>
        <th>Remplacant</th>
        <!-- <th>Motif</th>
        <th>coefconf</th>
        <th>ImpacteVisite</th> -->
        <th>Détails</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of returnedApiData">

        <td>{{element.prenom}} {{element.nom}} </td>
        <td>{{element.DateCR}}</td>
        <td>{{element.Datevisite}}</td>
        <td>{{element.RemplacantPrenom}} {{element.RemplacantNom}}</td>
        <!-- <td>{{element.Motif}}</td>
        <td>{{element.CoefConf}}</td>
        <td>{{element.ImpacteVisite}}</td> -->
        <td> <button (click)="getCompteRenduDetail(element.id)"></button></td>

      </tr>

    </tbody>
  </table>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span (click)="closeMyModal()" class="close">&times;</span>
    
    <div>
      <label style="color: black;">Praticien: &nbsp;</label><br />
      <input type="text" id="nom"><input type="text"  id="prenom">
    </div>
    
    <div>
      <label style="color: black;">Date compte-rendu: &nbsp;</label><br />
      <input type="text"  id="DateCR">
    </div>

    <div>
      <label style="color: black;">Date visite: &nbsp;</label><br />
      <input type="text"  id="Datevisite">
    </div>

    <div>
        <label style="color: black;">Remplaçant: &nbsp;</label><br />
        <input type="text"  id="RemplacantNom">
        <input type="text"  id="RemplacantPrenom">
    </div>

    <div>
      <label style="color: black;">Motif: &nbsp;</label><br />
      <input type="text"  id="Motif">
    </div>

    <div>
      <label style="color: black;">Compte-rendu de la visite : &nbsp;</label><br />
      <input type="text"  id="Texte" class="textArea">
    </div>

    <div>
      <label style="color: black;">Impact de la visite: &nbsp;</label><br />
      <input type="text"  id="ImpacteVisite">
    </div>

    <div>
      <label style="color: black;">Coefficient de confiance: &nbsp;</label><br />
      <input type="text" id="CoefConf">
    </div>

  </div>

</div>
</ion-content>


<!-- <button (click)="getCompteRenduList()">Cliquer</button>
{{returnedApiData}}
 -->


