.cellFormCalendar{
    /* display: block; */
    background-color: rgba(63, 63, 187, 0.323);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(52, 52, 52, 0.436);
}

.dateTop{
    text-align: center;
}

.hourLeft{
    vertical-align: middle;
    text-align: center;
}

.table{
    width: 100%;
    font-size: 8px;
}

th{
    border: solid 1px;
}

table, ion-content, td, th{
    background-color: white;
}